<div *ngIf="mealData" class="page-container">
  <div class="header">
    <mat-icon (click)="goBack()">keyboard_backspace</mat-icon>
    <h3>{{ mealData.Name }}</h3>
  </div>

  <div *ngFor="let rec of mealData.Recipe">
    <p *ngIf="rec.RecipeName">{{ rec.RecipeName }}</p>

    <div *ngFor="let ing of rec.Ingredients">
      <p *ngIf="ing.Title">{{ ing.Title }}</p>
      <ul *ngIf="ing.List">
        <li *ngFor="let ingName of ing.List">{{ ingName }}</li>
      </ul>
    </div>

    <div *ngFor="let method of rec.Method" class="ing">
      <p *ngIf="method.Title">{{ method.Title }}</p>
      <ol *ngIf="method.List">
        <li *ngFor="let ingName of method.List">{{ ingName }}</li>
      </ol>
    </div>
  </div>
</div>
