<div *ngIf="mealData" class="page-container">
  <div class="header">
    <mat-icon (click)="goBack()">keyboard_backspace</mat-icon>
    <h3>{{ mealData.Name }}</h3>
  </div>

  <div class="ing-wrapper">
    <ul>
      <li *ngFor="let ing of mealData?.Recipe?.Ingredients">{{ ing }}</li>
    </ul>
  </div>

  <ol>
    <li *ngFor="let step of mealData?.Recipe?.Steps">{{ step }}</li>
  </ol>

  <!-- <div *ngFor="let item of mealList" class="result">
      <result-bar [text]="item.Name" [id]="item.Id"></result-bar>
    </div> -->
</div>
