@import "../../../../styles.scss";

footer {
  height: 60px;
  width: 100vw;
  margin-top: 30px;

  .footer-inner {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }
}
