@import "../styles.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app-content {
  max-width: 1200px;
  width: 100%;
}
