<div class="page-container">
  <h3>Generate Dinner Ideas</h3>

  <div class="form-options">
    <mat-radio-group class="radio-wrapper" [(ngModel)]="amount">
      <mat-radio-button [value]="1">1</mat-radio-button>
      <mat-radio-button [value]="5">5</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="btn" (click)="submit()">
    <div *ngIf="load" class="load"></div>
    <span *ngIf="!load">Generate</span>
  </div>

  <div *ngFor="let item of result" class="result">
    <p>{{ item }}</p>
  </div>
</div>
