/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$neutral-blue: #33445C;

p,
h1 {
  margin: 0;
  padding: 0;
}

.page-container {
  padding: 10px 15px;
}
